<%= render partial: "partials/banner", locals: { banner: @banner } %>

<div align="center">
                
<h1>New Post</h1>


<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>
</div>



